nav.navbar.navbar-defaul{
	height: 100px;
	background: none;
	box-shadow: none;
	border:none;
	padding-top:25px;
	padding-left: 30px;
	padding-right: 85px;
}

.navbar-header a.navbar-brand ima{
	height: 30px;
	margin-top: -4px;
}

.navbar-nav >li > a{
	padding-top: 10px;
	padding-bottom: 10px;
}

i.glyphicon.glyphicon-serach{
	font-size: 20px;
	color:rgb(184,182,182);
}
#background{
	margin-top: -120px;
	background: url(../images/gastronomia.jpg) no-repeat;
	background-size: cover;
	padding-top: 111px;
	height: 638px;
	max-height: 1112px;|
}

#background .jumbotron{
	background: none;
	margin-left: 137px;
	max-width: 000px;
	margin-top: 22px;	
}

#background .jumbotron h1{
	font-family: nexa;
	color:white;
	margin-bottom: 12px;
}

#background .jumbotron p{
	font-family: raleway;
	color:white;
	margin-bottom: 12px;
	margin-top: 27px;
	padding-right: 307px;
}

#home {
	text-align: center;
}

#home .container h1{
	margin:36px;
}

#home .container .row{
	margin: -3px;
}

#home .isi .container.atas{
	background-color: #f9f8f8;
	margin-top: -85px;
	padding-bottom: 37px;
}

.glyphicon{
	position: relative;
	font-size: 42px;
	color:#27475e;
}

.container.bawah{
	text-align: center;
}


#news{
	margin-top: 31px;
	background-color: #f9f8f8;
	padding-top: 43px;
	padding-bottom: 25px;
}

#gallery .container h1{
	text-align: center;
	font-family: raleway;
	margin-bottom: 38px;
}

#gallery .container .row #dua.col-lg-6.col-md-6.col-sm-6.col-xs-6{
	padding-top: 31px;
}