@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.navbar {
  padding: 20px 0px; }

.navbar-brand {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2em;
  color: #262626; }

.nav-item {
  font-weight: 800;
  text-transform: uppercase; }

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
  background: #0000CD;
  color: #fff; }

.navbar-light .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  padding: 5px 15px; }

.navbar-nav {
  float: none;
  margin: 0px auto;
  display: block;
  text-align: center; }

.navbar-nav > li {
  display: inline-block;
  float: none; }

.navbar-light .navbar-toggler {
  border: 2px solid #ffffff;
  background-color: #ffffff;
  color: #fff;
  border-radius: 10px;
  outline: none; }

/*@media(max-width: 768px)*/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  footer {
    padding-top: 20px; }
  footer .logo, a img {
    text-align: center;
    align-items: center; }
  footer .copyright p {
    text-align: center;
    align-items: center; }
  footer .redes-sociales {
    text-align: center;
    align-items: center;
    padding-top: 3px; }
  #gastro {
    text-align: center; }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  section .container {
    margin-top: 120px; }
  section .container h1 {
    font-size: 2em; }
  section .container p {
    line-height: 1.2em;
    font-size: 1.5em; }
  .container-fluid .row, .col, .table thead th {
    font-size: 1em;
    padding-left: 2em; }
  .gallery-item:nth-child(2) {
    grid-column-start: span 2; }
  .gallery-item:nth-child(3) {
    grid-column-start: span 3; } }

* {
  margin: 0;
  box-sizing: border-box; }

.encabezado {
  position: absolute;
  z-index: 10;
  width: 100%; }

.banner-principal {
  position: relative;
  background-image: url("../images/frutillarpuente.jpg");
  min-height: 100vh;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  padding: 180px 0 200px; }

.banner-principal h1 {
  color: #ffffff;
  font-weight: 600; }

.banner-principal p {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #ffffff;
  font-weight: 500; }

.btnD1 {
  display: inline-block;
  margin: 1em 0 0;
  background: #0000CD;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 20px;
  font-weight: 800; }

.btnD1:hover {
  color: #FFFF00;
  text-decoration: none; }

body#contacto {
  background-image: url("../images/frutillar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover; }

body#historia {
  background-image: url("../images/fondohistoria.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover; }

body#turismo {
  background-image: url("../images/fondoturismo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover; }

body#parques {
  background-image: url("../images/fondoparques.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover; }

body#gastronomia {
  background-image: url("../images/fondogastronomia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover; }

body#bohemia {
  background-image: url("../images/fondobohemia.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover; }

.contenedor_tarjeta {
  margin: 10px; }

.contenedor_tarjeta:hover figure {
  transform: perspective(600px) rotateY(180deg);
  -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25); }

figure {
  width: 300px;
  height: 250px;
  margin: 0;
  position: relative;
  transition: all ease .5s;
  transform-style: preserve-3d;
  transform: perspective(600px) rotateY(0deg); }

figure .frontal,
figure .trasera {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: all ease .4s; }

figure .frontal {
  background: #000;
  backface-visibility: hidden; }

figure .trasera {
  position: absolute;
  top: 0;
  padding: 20px;
  color: #fff;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  overflow: auto; }

.contenedor_tarjeta:nth-child(1) figure .trasera {
  background: rgba(223, 234, 241, 0.7);
  background: -moz-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223, 234, 241, 0.7)), color-stop(100%, #0f6390));
  background: -webkit-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: -o-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: -ms-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: linear-gradient(to bottom, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfeaf1', endColorstr='#0f6390', GradientType=0 ); }

.contenedor_tarjeta:nth-child(2) figure .trasera {
  background: rgba(251, 232, 202, 0.7);
  background: -moz-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251, 232, 202, 0.7)), color-stop(100%, #192c48));
  background: -webkit-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: -o-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: -ms-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: linear-gradient(to bottom, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe8ca', endColorstr='#192c48', GradientType=0 ); }

.contenedor_tarjeta:nth-child(3) figure .trasera {
  background: rgba(95, 58, 53, 0.7);
  background: -moz-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95, 58, 53, 0.7)), color-stop(100%, #dd202f));
  background: -webkit-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: -o-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: -ms-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: linear-gradient(to bottom, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f3a35', endColorstr='#dd202f', GradientType=0 ); }

.contenedor_tarjeta:nth-child(4) figure .trasera {
  background: rgba(223, 234, 241, 0.7);
  background: -moz-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223, 234, 241, 0.7)), color-stop(100%, #0f6390));
  background: -webkit-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: -o-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: -ms-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: linear-gradient(to bottom, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfeaf1', endColorstr='#0f6390', GradientType=0 ); }

.contenedor_tarjeta:nth-child(5) figure .trasera {
  background: rgba(251, 232, 202, 0.7);
  background: -moz-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251, 232, 202, 0.7)), color-stop(100%, #192c48));
  background: -webkit-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: -o-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: -ms-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: linear-gradient(to bottom, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe8ca', endColorstr='#192c48', GradientType=0 ); }

.contenedor_tarjeta:nth-child(6) figure .trasera {
  background: rgba(95, 58, 53, 0.7);
  background: -moz-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95, 58, 53, 0.7)), color-stop(100%, #dd202f));
  background: -webkit-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: -o-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: -ms-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: linear-gradient(to bottom, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f3a35', endColorstr='#dd202f', GradientType=0 ); }

figure .trasera .titulo {
  color: #fff;
  font-weight: normal;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px; }

figure .trasera hr {
  height: 2px;
  background: #fff;
  border: none;
  margin-bottom: 20px;
  opacity: .5; }

figure .trasera p {
  font-family: 'Open Sans', sans-serif;
  line-height: 22px;
  font-size: 14px; }

.card-body {
  width: 100%;
  margin: 10%;
  color: #fff; }

.card, .contac-form {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  margin-top: 0px;
  padding: 5px;
  box-shadow: 0px 0px 10px 3px grey; }

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px; }

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.gallery-item:nth-child(4) {
  grid-column-start: span 2; }

.gallery-item:nth-child(5) {
  grid-row-start: span 2; }

.gallery-item:nth-child(9) {
  grid-column-start: span 2; }

.redes-sociales {
  background: #ADD8E6;
  padding-top: 14px;
  text-align: right; }
  .redes-sociales i {
    color: #ffffff;
    text-decoration: none; }
    .redes-sociales i:hover {
      color: #000080; }

.copyright {
  background: #ADD8E6; }
  .copyright p {
    color: #ffffff;
    padding-top: 10px;
    text-align: center; }

.logo {
  text-align: left; }

.inner {
  overflow: hidden; }
  .inner img {
    transition: all 1.5s ease; }
    .inner img:hover {
      transform: scale(1.5); }
