/*Configuracion Pie de Pagina*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.navbar {
  padding: 20px 0; }

.navbar-brand {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2em;
  color: #262626; }

.nav-item {
  font-weight: 800;
  text-transform: uppercase; }

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
  background: #ff2670;
  color: #fff; }

.navbar-light .navbar-nav .nav-item .nav-link {
  color: #ffffff;
  padding: 5px 15px; }

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center; }

.navbar-nav > li {
  display: inline-block;
  float: none; }

.navbar-light .navbar-toggler {
  border: none;
  color: #fff;
  border: 2px solid #7f7f77;
  border-radius: 0;
  outline: none; }

@media (max-width: 768px) {
  .banner {
    padding: 100px; }
  .banner h2 {
    font-size: 1.8em; }
  .navbar-collapse {
    background: #C0C0C0; }
  .nav-link {
    color: #ffffff; } }

* {
  margin: 0;
  box-sizing: border-box; }

header {
  position: absolute;
  z-index: 10;
  width: 100%; }

.banner-principal {
  position: relative;
  background-image: url("../images/frutillarpuente.jpg");
  min-height: 100vh;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  padding: 250px 0 200px; }

.banner-principal p {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #000000;
  /*font-weight: bold*/ }

.banner-principal h1 {
  color: #000000;
  font-weight: bold; }

.btnD1 {
  display: inline-block;
  margin: 1em 0 0;
  background: #ff2670;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 20px;
  font-weight: 800; }

.btnD1:hover {
  color: #FFFF00;
  text-decoration: none; }

body#contacto {
  background-image: url("../images/frutillar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover; }

body#historia {
  background-image: url("../images/fondohistoria.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover; }

body#config-pag {
  padding-top: 70px; }

.contenedor_tarjeta {
  margin: 10px; }

.contenedor_tarjeta:hover figure {
  transform: perspective(600px) rotateY(180deg);
  -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25); }

.contenedor_tarjeta:hover figure img {
  /* Si queremos podemos aplicar un efecto blur a nuestra imagen al girar */
  /*filter:blur(2px);*/ }

figure {
  width: 300px;
  height: 250px;
  margin: 0;
  position: relative;
  transition: all ease .5s;
  transform-style: preserve-3d;
  transform: perspective(600px) rotateY(0deg); }

figure .frontal,
figure .trasera {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: all ease .4s; }

figure .frontal {
  background: #000;
  backface-visibility: hidden; }

figure .trasera {
  position: absolute;
  top: 0;
  padding: 20px;
  color: #fff;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  overflow: auto; }

.contenedor_tarjeta:nth-child(1) figure .trasera {
  background: rgba(223, 234, 241, 0.7);
  background: -moz-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223, 234, 241, 0.7)), color-stop(100%, #0f6390));
  background: -webkit-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: -o-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: -ms-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: linear-gradient(to bottom, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfeaf1', endColorstr='#0f6390', GradientType=0 ); }

.contenedor_tarjeta:nth-child(2) figure .trasera {
  background: rgba(251, 232, 202, 0.7);
  background: -moz-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251, 232, 202, 0.7)), color-stop(100%, #192c48));
  background: -webkit-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: -o-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: -ms-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: linear-gradient(to bottom, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe8ca', endColorstr='#192c48', GradientType=0 ); }

.contenedor_tarjeta:nth-child(3) figure .trasera {
  background: rgba(95, 58, 53, 0.7);
  background: -moz-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95, 58, 53, 0.7)), color-stop(100%, #dd202f));
  background: -webkit-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: -o-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: -ms-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: linear-gradient(to bottom, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f3a35', endColorstr='#dd202f', GradientType=0 ); }

.contenedor_tarjeta:nth-child(4) figure .trasera {
  background: rgba(223, 234, 241, 0.7);
  background: -moz-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223, 234, 241, 0.7)), color-stop(100%, #0f6390));
  background: -webkit-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: -o-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: -ms-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: linear-gradient(to bottom, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfeaf1', endColorstr='#0f6390', GradientType=0 ); }

.contenedor_tarjeta:nth-child(5) figure .trasera {
  background: rgba(251, 232, 202, 0.7);
  background: -moz-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251, 232, 202, 0.7)), color-stop(100%, #192c48));
  background: -webkit-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: -o-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: -ms-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: linear-gradient(to bottom, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe8ca', endColorstr='#192c48', GradientType=0 ); }

.contenedor_tarjeta:nth-child(6) figure .trasera {
  background: rgba(95, 58, 53, 0.7);
  background: -moz-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95, 58, 53, 0.7)), color-stop(100%, #dd202f));
  background: -webkit-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: -o-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: -ms-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: linear-gradient(to bottom, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f3a35', endColorstr='#dd202f', GradientType=0 ); }

figure .trasera .titulo {
  color: #fff;
  font-weight: normal;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px; }

figure .trasera hr {
  height: 2px;
  background: #fff;
  border: none;
  margin-bottom: 20px;
  opacity: .5; }

figure .trasera p {
  font-family: 'Open Sans', sans-serif;
  line-height: 22px;
  font-size: 14px; }

.card-body {
  width: 100%;
  margin: 10%;
  color: #fff; }

.card, .contac-form {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  margin-top: 0px;
  padding: 5px;
  box-shadow: 0px 0px 10px 3px grey; }

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 20px;
  grid-gap: 10px; }

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.gallery-item:nth-child(4) {
  grid-column-start: span 2; }

.gallery-item:nth-child(5) {
  grid-row-start: span 2; }

.gallery-item:nth-child(9) {
  grid-column-start: span 2; }

.redes-sociales {
  background: #004872;
  padding-top: 14px; }
  .redes-sociales i {
    color: #ffffff;
    text-decoration: none; }
    .redes-sociales i:hover {
      color: #ffff00; }

.copyright {
  background: #004872; }
  .copyright p {
    color: #ffffff;
    padding-top: 10px;
    text-align: center; }

.inner {
  overflow: hidden; }
  .inner img {
    transition: all 1.5s ease; }
    .inner img:hover {
      transform: scale(1.5); }

.circle {
  width: 150px;
  height: 150px;
  border: solid 1px #555;
  background-color: #eed;
  box-shadow: 10px -10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px -10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px -10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 10px -10px rgba(0, 0, 0, 0.6);
  border-radius: 100px; }
