/*Configuracion Pie de Pagina*/
$FooterColorBack:#1E90FF;
$FooterColorLetra: #ffffff; 
$FooterColorHover: #FFFF00; 

$NavbarBrandColor:#262626;
$NavColorBackHover:#0000CD;
$NavColorHover:#fff;
$NavColorOpcionesMenu:#ffffff;
$NavColorBorderTogleer:#ffffff;
