$FooterColorBack:#808080;
$FooterColorLetra: #ffffff; 
$FooterColorHover: #000080; 

$NavbarBrandColor:#262626;
$NavColorBackHover:#0000CD;
$NavColorHover:#fff;
$NavColorOpcionesMenu:#ffffff;
$NavColorBorderTogleer:#ffffff;
$NavColorBackgroundTogleer:#ffffff;