$FooterColorBack: #414141;
$FooterColorAbout: #ffffff; 
$FooterColorBackGroundIconosSociales: #33383b; 
$FooterColorBackgroundIconosContacto:#33383b;
$FooterColorIconosContacto:#ffffff;
$FooterColorParrafoCentro:#ffffff;
$FooterColorMenu:#ffffff;
$FooterColorMenuHover: #ffff00; 
$FooterColorRedSocialHover: #ffff00; 

$NavbarBrandColor:#262626;
$NavColorBackHover:#0000CD;
$NavColorHover:#fff;
$NavColorOpcionesMenu:#ffffff;
$NavColorBorderTogleer:#ffffff;
$NavColorBackgroundTogleer:#ffffff;