/*@media(max-width: 768px)
{
 .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    section .container{
    	margin-top:120px;
    	}
    section .container h1{
    	font-size: 2em;
    }

    section .container p{
    	line-height: 1.2em;
    	font-size: 1.5em;
    }

    .container-fluid .row, .col, .table thead th{
        font-size: 1em;
        padding-left: 2em;
    }
   
    .gallery-item:nth-child(2){
	    grid-column-start: span 2;
      }

     .gallery-item:nth-child(3){
	    grid-column-start: span 3;
      }

}*/
