.navbar{
	padding:20px 0px;
}

.navbar-brand{
	font-weight: 800;
	text-transform: uppercase;
	font-size: 2em;
	color: $NavbarBrandColor;
}

.nav-item{
	font-weight: 800;
	text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
	background: $NavColorBackHover;
	color: $NavColorHover;
}

.navbar-light .navbar-nav .nav-item .nav-link{
	color: $NavColorOpcionesMenu;
	padding: 5px 15px;
}


.navbar-nav {
    float:none;
    margin:0px auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
   float:none;
}

.navbar-light .navbar-toggler{
	border: 2px solid $NavColorBorderTogleer;
	background-color: $NavColorBackgroundTogleer;
	color: #fff;
	border-radius: 10px;
	outline: none;
}

